@page
@model TasteRestaurant.Pages.FoodTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}


<br />
<h2>Food Type List</h2>
<br />
<p>
    <a asp-page="Create" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        &nbsp; Create New
    </a>
</p>
<div class="form-border">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.FoodType[0].Name)
            </th>
            
            <th></th>
        </tr>
        @foreach (var item in Model.FoodType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                
                <td>
                    @Html.Partial("_TableButtonsPartial", new IndividualButtonPartial { Id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
