body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h2{
    color:#033B72;
}

.form-border{
    border : 1px solid #bbb9b9;
    border-radius:5px;
    padding-top:30px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
}

.custom-label{
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height: 1.4285;
    color:#555;
}

tr.paddingB30pxToTD > td {
    padding: 10px 20px 10px 20px;
}
tr.paddingB30pxToTH > th {
    padding: 0px 20px 0px 20px;
}