@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
@Html.Partial("_StatusMessage",Model.StatusMessage)
<br />

@foreach (var category in Model.IndexVM.CategoryTypes)
{
    <h3 style="padding-left:50px;" class="text-success">@category.Name</h3>
    <div class="row">
        <div class="col-sm-12">
            @* Partial View *@
            @Html.Partial("_ThumbnailAreaPartial",Model.IndexVM.MenuItems.Where(u=>u.CategoryType.Name.Equals(category.Name)))
        </div>
    </div>
}