@page
@model TasteRestaurant.Pages.Order.OrderHistoryModel
@{
    ViewData["Title"] = "OrderHistory";
}

<h2>Order History</h2>

<div>
    @if (Model.OrderDetailsViewModel.Count == 5)
    { 
        <a asp-page="OrderHistory" asp-route-id="1" class="btn btn-sm btn-success" > Load all Order's...</a>
    }
</div>
<br />
@if (Model.OrderDetailsViewModel.Count > 0)
{
    @foreach (var item in Model.OrderDetailsViewModel)
    { 
        <div class="thumbnail row">
            @Html.Partial("_IndividualOrderDetails",item)
        </div>

    }
}
else
{
    <p>No past orders avaialble...</p>
}
<br />
